<h2 class="prop-listings">All Property Listings</h2>

<div id="form-horizontal", class: "col-sm-2 control-label">
  <%= form_tag("/listings", method: "get") do %>
  <div id="form-group">
    <%= label_tag(:city, "City") %><br>
    <%= text_field_tag(:city, "City")%><br>
    <!-- <%= submit_tag "Filter by city", class: "btn btn-lg btn-default" %><br> -->
    <% end %>
  </div>
  <div id="form-group">
    <%= form_tag("/listings", method: "get") do %>
    What type of place would you like to stay in?<br>
    <%= label_tag("House") %>
    <%= radio_button_tag(:category_id, 1) %><br>
    <%= label_tag("Apartment") %>
    <%= radio_button_tag(:category_id, 2) %><br>
    <%= label_tag("Condo") %>
    <%= radio_button_tag(:category_id, 3) %><br>
    <%= label_tag("Cabin") %>
    <%= radio_button_tag(:category_id, 4) %><br>
    <%= label_tag("Room") %>
    <%= radio_button_tag(:category_id, 5) %><br>
    <!-- <%= submit_tag "Filter by listing category", class: "btn btn-lg btn-default" %> -->
    <% end %>
  </div>
  <div id="form-group">
    <%= form_tag("/listings", method: "get") do %>
    Nightly Rates<br>
    <%= label_tag("<$75") %>
    <%= radio_button_tag(:nightly_rate, 7500) %><br>
    <%= label_tag("<$100") %>
    <%= radio_button_tag(:nightly_rate, 10000) %><br>
    <%= label_tag("<$125") %>
    <%= radio_button_tag(:nightly_rate, 12500) %><br>
    <%= label_tag("<$150") %>
    <%= radio_button_tag(:nightly_rate, 15000) %><br>
    <%= label_tag("<$200") %>
    <%= radio_button_tag(:nightly_rate, 20000) %><br>
    <%= label_tag("<$300") %>
    <%= radio_button_tag(:nightly_rate, 30000) %><br>
    <%= label_tag("<$500") %>
    <%= radio_button_tag(:nightly_rate, 50000) %><br>
    <!-- <%= submit_tag "Filter by price", class: "btn btn-lg btn-default" %> -->
    <% end %>
  </div>
  <div id="form-group">
  <%= form_tag("/listings", method: "get") do %>
    Guests<br>
    <%= label_tag(1) %>
    <%= radio_button_tag(:max_guests, 1) %><br>
    <%= label_tag(2) %>
    <%= radio_button_tag(:max_guests, 2) %><br>
    <%= label_tag(3) %>
    <%= radio_button_tag(:max_guests, 3) %><br>
    <%= label_tag(4) %>
    <%= radio_button_tag(:max_guests, 4) %><br>
    <%= label_tag(5) %>
    <%= radio_button_tag(:max_guests, 5) %><br>
    <%= label_tag(6) %>
    <%= radio_button_tag(:max_guests, 6) %><br>
    <%= label_tag(7) %>
    <%= radio_button_tag(:max_guests, 7) %><br>
    <%= label_tag(8) %>
    <%= radio_button_tag(:max_guests, 8) %><br>
    <%= label_tag(9) %>
    <%= radio_button_tag(:max_guests, 9) %><br>
    <%= label_tag(10) %>
    <%= radio_button_tag(:max_guests, 10) %><br>
    <%= label_tag(11) %>
    <%= radio_button_tag(:max_guests, 11) %><br>
    <%= label_tag(12) %>
    <%= radio_button_tag(:max_guests, 12) %><br>
    <%= label_tag(13) %>
    <%= radio_button_tag(:max_guests, 13) %><br>
    <%= label_tag(14) %>
    <%= radio_button_tag(:max_guests, 14) %><br>
    <%= label_tag(15) %>
    <%= radio_button_tag(:max_guests, 15) %><br>
    <%= label_tag("16+") %>
    <%= radio_button_tag(:max_guests, 16) %><br>
    <%= submit_tag "Filter by guests", class: "btn btn-lg btn-default" %>
  <% end %>
  </div>
</div>

<div class="col-md-6">
  <%= div_for(@listings) do |listing| %>
  <%= link_to listing.title, user_listing_path(listing.user.slug, listing) %><br>
  <%#= link_to listing.title, user_listing_path(listing.user_id, listing) %><br>
  <%= listing.listing_image %> %>
  Property Category: <%= listing.category.name %><br>
  Property Description: <%= listing.description %><br>
  Nightly Rate: <%= number_to_currency(listing.currency) %><br>
  Max Guests: <%= listing.max_guests %><br>
  <% end %>
</div>
