<div class="jumbotron">
  <%= image_tag("thavorn_beach.png", class:  "hero-image") %>
  <div class="center-block">
    <h1 class="welcome">Welcome Home</h1>
  </div>
</div>

<div class="col-md-12 filter">
  <form class="form-inline">
    <div class="form-group">
      <div class="">
        Refine your search
      </div>
      <div>
        <%= form_tag("/listings", method: "get") do %>
          <div class="form-group">
            <%= label_tag(:city, "City") %>
            <%= text_field_tag(:city, "City", :value => nil)%>
            Home Type
            <%= select_tag "category_id", options_for_select(categories_helper),:include_blank => true %>
          </div>
          <div class="form-group">
            Nightly Rates
            <%= select_tag "nightly_rate", options_for_select(nightly_rate_helper),:include_blank => true %>
          </div>
          <div class="form-group">
            Guests
            <%= select_tag "max_guests", options_for_select(guests_helper), :include_blank => true %>
            <%= submit_tag "Filter", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </form>
</div>
</div>

<div class="row listings-index">
  <div class="col-lg-12">
    <ul class="slides">
      <% @listings.each do |listing| %>
        <li class="listing-slide" id="listing-slide"><%= link_to user_listing_path(listing.user.slug, listing) do %><img src="listing.image" alt="listing.title">
          <span class="d-hover"><br>
            <%#= link_to listing.title, user_listing_path(listing.user_id, listing) %><br>
            Property Category: <%= listing.category.name %><br>
            Property Description: <%= listing.description %><br>
            Nightly Rate: <%= number_to_currency(listing.currency) %><br>
            Max Guests: <%= listing.max_guests %><br></span></a></li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
