<h1>Add you listing</h1>

<%= bootstrap_form_for(@listing) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.number_field :nightly_rate %>
  <%#<%= f.collection_radio_buttons :category, Category.all, :id, :name %>%>
  <%= f.range_field :max_guests, in: 1..20 %>
  <%#<%= f.number_field :max_guests %>%>
  <%= f.text_field :address1 %>
  <%= f.text_field :address2 %>
  <%= f.text_field :city %>
  <%= f.text_field :state %>
  <%= f.text_field :zip %>
  <%= f.check_box :remember_me %>
  <%= f.submit "Create Listing" %>
<% end %>
