<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class-"modal-dialog">
    <div class="modal-content">
      <div class="modal-header edit-header">
        Edit Profile
      </div>
      <div class="modal-body edit-body">
       <%= bootstrap_form_for user, :html => { :multipart => true }  do |f| %>
          <%= f.file_field :image %>

          <%= f.text_area :about_me %>

          <%= f.text_field :first_name %>

          <%= f.text_field :last_name %>

          <%= f.text_field :display_name  %>

          <%= f.text_field :email, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>

          <%= f.password_field :password %>

          <%= f.submit "Submit" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
