


<div class="jumbotron masthead">
  <div class="row profile-header">
    <div class="col-lg-12">
        <h1><%= @user.first_name %></h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag @user.image.url(:medium) %>
      </div>
      <div class="col-lg-8">
        <p><%= @user.about_me %></p>
      </div>

     </div>
   </div>




   <div class="row listings-index">
     <div class="col-lg-12">
         <ul class="slides">
           <% @listings.each do |listing| %>
           <li class="listing-slide" id="listing-slide">
           <%= link_to user_listing_path(listing.user.slug, listing) do %>
           <div id="img_container">
             <img src="listing.image" alt="listing.title">
             <div class="edit-button">
               <a class="btn btn-sm btn-default", style=inline, href=<%=edit_user_listing_path(listing.user.slug, listing)%>>
               <i class="fa fa-pencil-square-o"></i>Edit</a>
             </div>
             <div class="delete-button">
               <a class="btn btn-sm btn-default", style=inline, href=<%=user_listing_path(listing.user.slug, listing)%>>
               <i class="fa fa-trash-o"></i>Delete</a>
             </div>
           </div>
             <span class="d-hover"><br>
               <%#= link_to listing.title, user_listing_path(listing.user_id, listing) %><br>
               Property Category: <%= listing.category.name %><br>
               Property Description: <%= listing.description %><br>
               Nightly Rate: <%= number_to_currency(listing.currency) %><br>
               Max Guests: <%= listing.max_guests %><br></span></a></li>
             <% end %>
             <% end %>
         </ul>
     </div>
     </div>
   </div>
   </div>





  <section id="networks">
    <div class="container">
      <p>
        <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i></a>
      </p>

    </div>

  </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jribbble.js"></script>
    <script src="assets/js/site-ck.js"></script>
</div>
