<div class="jumbotron masthead user-show-head">
  <div class="row profile-header">
    <div class="col-lg-10">
      <h1 class="user-show-name"><%= @user.first_name %></h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1 user-image">
        <%= image_tag @user.image.thumb.url %>
      </div>
      <div class="col-lg-6 col-lg-offset-1">
      <div class="well about-me">
        <p><%= @user.about_me %></p>
      </div>
      </div>
    </div>
  </div>


  <div class="row listings-index">
    <div class="col-lg-12">
      <h3>Listings</h3>
      <% if @listings.empty? %>
        <p>You haven't created any listings!</p>
      <% else %>
        <%= render partial: "listings_index", locals: { listings: @listings } %>
      <% end %>
      <ul class="slides">
        <h3>Your Trips</h3>
        <% if @trips.empty? %>
          <p>You haven't taken any trips!</p>
        <% else %>
          <% @trips.each do |trip| %>
            <li class="listing-slide" id="listing-slide">
            <div class="listing">
              <%= link_to user_listing_path(trip.user.slug, trip) do %>
                <% if trip.listing_images.any? %>
                  <%= image_tag trip.listing_images.first.image.url %>
                <% end %>
                <span class="d-hover"><br>
                  <%= trip.description %><br>
                  <%= trip.category.name %><br>
                </span>
              </a>
              <div class="text-listing-index">
                <div class="text-listing-title">
                  <p><%= link_to trip.title.upcase, user_listing_path(trip.user.slug, trip) %></p>
                </div>
                <div class="text-listing-city">
                  <p><%= @dates.first %> - <%= @dates.last %></p>
                </div>
              </div>
            </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<section id="networks">
<div class="container">
  <p>
  <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i></a>
  </p>

</div>

</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jribbble.js"></script>
<script src="assets/js/site-ck.js"></script>
</div>
