<div class="row">
  <h1>
  <div class="small-3 large-centered columns">Vagabond</div>
  </h1>
</div>

<div class="home-pics">
  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_denver.jpg" %>
      <div class="overlay">
        <span>Denver</span>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_new_york.jpg" %>
      <div class="overlay">
        <span>New York</span>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_washington_dc2.jpg" %>
      <div class="overlay">
        <span>Washington</span>
      </div>
    </div>
  </div>
</div>

<div class="home-pics">
  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_new_york2.jpg" %>
      <div class="overlay">
        <span>New York</span>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_san_francisco.jpg" %>
      <div class="overlay">
        <span>San Francisco</span>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="overlay-container">
      <%= image_tag "ex_seattle.jpg" %>
      <div class="overlay">
        <span>Seattle</span>
      </div>
    </div>
  </div>
</div>
