<h1>Your Reservations</h1>

<% if @listings.empty? %>
  <p> Your cart is empty </p>
<% else %>
<table class="table table-hover">
  <tr>
    <th>Listing</th>
    <th>Host</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Total</th>
  </tr>
  <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, user_listing_path(listing.user.slug, listing) %></td>
        <td><%= link_to listing.user.first_name, user_path(listing.user.id) %></td>
        <td><%= @dates[:start_date] %></td>
        <td><%= @dates[:end_date] %></td>
        <td><%= number_to_currency listing.nightly_rate %></td>
      </tr>
  <% end %>
</table>
  <div id="checkout">
    <%= button_to "Checkout", user_reservations_path(current_user.slug), method: :post %>
  </div>
<% end %>
