<div class="home-pics col-lg-12">
	<div class="home-pics-row">
  <div class="row">
    <div class="box col-lg-3">
      <%= image_tag "ex_denver.jpg" %>
      <div class="overlay">
        <span>Denver</span>
      </div>
    </div>
    <div class="box col-lg-3">
      <%= image_tag "ex_new_york.jpg" %>
      <div class="overlay">
        <span>New York</span>
      </div>
    </div>
    <div class="box col-lg-3">
      <%= image_tag "ex_washington_dc2.jpg" %>
      <div class="overlay">
        <span>Washington</span>
      </div>
    </div>
	</div>
</div>
	<div class="row">
		<div class="home-pics-row">
			<div class="box col-lg-3">
				<%= image_tag "ex_new_york2.jpg" %>
				<div class="overlay">
					<span>New York</span>
				</div>
			</div>
			<div class="box col-lg-3">
				<%= image_tag "ex_san_francisco.jpg" %>
				<div class="overlay">
					<span>San Francisco</span>
				</div>
			</div>
			<div class="box col-lg-3">
				<%= image_tag "ex_seattle.jpg" %>
				<div class="overlay">
					<span>Seattle</span>
				</div>
			</div>
		</div>
  </div>
