<div class="home-pics col-lg-12">
	<div class="home-pics-row">
  <div class="row">
    <div class="box col-lg-3">
      <%= image_tag "ex_denver.jpg" %>
			<a href="/listings?city=Denver">
      <div class="new-overlay">
        <div class="home-text">
          Denver
        </div>
      </div>
    </div>
    <div class="box col-lg-3">
      <%= image_tag "ex_new_york.jpg" %>
			<a href="/listings?city=New York">
      <div class="new-overlay">
        <div class="home-text">
          New York
        </div>
      </div>
    </div>
    <div class="box col-lg-3">
      <%= image_tag "ex_washington_dc2.jpg" %>
			<a href="/listings?city=Washington">
      <div class="new-overlay">
        <div class="home-text">
          Washington
        </div>
      </div>
    </div>
	</div>
</div>
	<div class="row">
		<div class="home-pics-row">
			<div class="box col-lg-3">
				<%= image_tag "ex_st_louis.jpg" %>
				<a href="/listings?city=St Louis">
				<div class="new-overlay">
          <div class="home-text">
            St Louis
          </div>
				</div>
			</div>
			<div class="box col-lg-3">
				<%= image_tag "ex_san_francisco.jpg" %>
				<a href="/listings?city=San Francisco">
				<div class="new-overlay">
          <div class="home-text">
            San Francisco
          </div>
				</div>
			</div>
			<div class="box col-lg-3">
				<%= image_tag "ex_seattle.jpg" %>
				<a href="/listings?city=Seattle">
				<div class="new-overlay">
          <div class="home-text">
            Seattle
					</form>
          </div>
				</div>
			</div>
		</div>
  </div>
