<div class="well show-listing-info">
  <%#= image_tag listing.listing_images.first.image.url %>
<p class="show-title"><%= listing.title %></p><br>
<%= listing.description %><br>
<i class="fa fa-home"></i> <%= listing.category.name %><br>
Sleeps <%= listing.max_guests %><br>
<%= number_to_currency(listing.currency) %><br>
<%= listing.full_address %><br>
</div>
