<div class="col-md-12 filter">
  <div class="form-inline">
    <%= bootstrap_form_tag url: "/listings", method: "get" do |f| %>
      <%= f.text_field :city, hide_label: true, placeholder: "City", class: "connector" %>
      <%= f.select :category_id, options_for_select(categories_helper), hide_label: true, class: "connector" %>
      <%= f.select :nightly_rate, options_for_select(nightly_rate_helper), hide_label: true, class: "connector" %>
      <%= f.text_field :check_in, hide_label: true, placeholder: "Check In", class: "from_date connector", contenteditable: false %>
      <%= f.text_field :check_out, hide_label: true, placeholder: "Check Out", class: "to_date connector", contenteditable: false %>
      <%= f.select :max_guests, options_for_select(guests_helper), hide_label: true, class: "connector", placeholder: "Guests" %>
      <%= f.submit "Filter", class: "btn btn-primary connector" %>
    <% end %>
    <%= bootstrap_form_tag url: "/listings", method: "get" do |f| %>
      <%= f.submit "View All", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
