<% @reservation.reservation_listings.each do |reservation_listing| %>
<div id="purchaser-details">
  <% if current_user && current_user.admin? %>
    <h3>Purchaser Details</h3>
    <% user = @reservation.find_user_info(@reservation.user_id) %>
    <%= user.last_name %>, <%= user.first_name %><br>
    <%= user.email %>
<% end %>
<h3>Reservation Details</h3>
</div>
<div id="item-title">
  Title: <%=link_to reservation_listing.title, item_path(reservation_listing.item_id) %>
</div>
<div id="item-description">
  Description: <%= reservation_listing.description %>
</div>
<div id="item-price">
  Unit Price: <%= number_to_currency reservation_listing.price %>
</div>
<div id="item-quantity">
  Quantity: <%= reservation_listing.quantity %>
</div>
<div id="item-subtotal">
  Subtotal: <%= number_to_currency reservation_listing.subtotal(reservation_listing.price, reservation_listing.quantity) %>
</div><br>
<% end %>

<div id="item-total">
  Total: <%= number_to_currency @reservation.total(@reservation.reservation_listings) %>
</div>
<div id="reservation-submit-time">
  Reservation Submitted At: <%= @reservation.formatted_created_at %>
</div>
<div id="reservation-status">
  Order Status: <%= @reservation.status %><br>
  <% if current_user && current_user.admin? %>
    <% if @reservation.status == "ordered" %>
      <%= link_to "change to paid", admin_reservation_path(status: "paid"), method: :patch %> |
      <%= link_to "change to complete", admin_reservation_path(status: "completed"), method: :patch %> |
      <%= link_to "change to cancel", admin_reservation_path(status: "cancelled"), method: :patch %>
    <% elsif @reservation.status == "paid" %>
      <%= link_to "change to complete", admin_reservation_path(status: "completed"), method: :patch %> |
      <%= link_to "change to cancel", admin_reservation_path(status: "cancelled"), method: :patch %>
    <% end %>
  <% end %>
</div>
