<div id="signup-modal" class="reveal-modal" data-reveal>
  <%= form_for person do |f| %>
    <% if person.errors.any? %>
    <div class="error_messages">
    <h2>Form is invalid</h2>
      <ul>
        <% for message in person.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label "First name" %>
    <%= f.text_field :first_name %>

    <%= f.label "Last name" %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign Up" %>
  <% end %>
</div>
