<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class-"modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
  <%= bootstrap_form_for person do |f| %>
    <% if person.errors.any? %>
    <div class="error_messages">
    <h2>Form is invalid</h2>
      <ul>
        <% for message in person.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.text_field :first_name %>

    <%= f.text_field :last_name %>

    <%= f.text_field :email %>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign Up" %>
  <% end %>
    </div>
    </div>
  </div>
</div>
